{% extends "base.html.twig" %}

{% block body  %}
	<div class="container">
		{{parent()}}
		<div>
			{{form_start(form, {"attr": {"novalidate": "novalidate", "class": "text-white"}})}}
			{{form_row(form)}}
			{{form_rest(form)}}
		</div>
		<input type="submit" value="Ajouter le projet" class="btn btn-outline-light">
		{{form_end(form)}}
	</div>
{% endblock %}
